.quote_body {
  z-index: 9;
}

.quote_wrapper {
  width: 605px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.quote_content :where(i, p, span) {
  color: #202842;
}

.quote_wrapper header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.quote_wrapper .quote_content {
  margin: 15px 0;
}

.quote_content .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area i {
  font-size: 15px;
}

.quote-area i:first-child {
  margin: 3px 10px 0 0;
}

.quote-area i:last-child {
  display: flex;
  margin: 0 0 3px 10px;
  align-items: flex-end;
}

.quote-area .quote {
  font-size: 22px;
  text-align: center;
}

.quote_content .author {
  display: flex;
  font-size: 18px;
  margin-top: 20px;
  font-style: italic;
  justify-content: flex-end;
}

.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}

.quote_wrapper .buttons {
  border-top: 1px solid #ccc;
}

.buttons .functions {
  display: flex;
  margin-top: 20px;
  margin-left: -40px;
  align-items: center;
  justify-content: space-between;
}

.functions ul {
  display: flex;
}

.functions ul li {
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #5372F0;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #5372F0;
  transition: all 0.3s ease;
}

.functions ul li:first-child {
  margin-left: 0;
}

.functions ul li:is(:hover, .active) {
  color: #fff;
  background: #5372F0;
}

ul .speech.active {
  pointer-events: none;
}

.buttons button {
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: #5372F0;
}

.buttons button.loading {
  opacity: 0.7;
  pointer-events: none;
}